 body {
    background-color: #2b808f;
    margin: 0;
    padding: 0;
    font-family: "Arial", Helvetica, sans-serif;
}
h1 {
    color: black;
    padding: 10px;
    text-align: center;
     font-family: "Arial", Helvetica, sans-serif;
}
h2 {
   color: black;
    padding: 10px;
    text-align: center;
    font-family: "Arial", Helvetica, sans-serif;
}
h3 {
   color: black;
    padding: 10px;
    text-align: center;
     font-family: "Arial", Helvetica, sans-serif;
}
h4 {
   color: black;
    padding: 10px;
    text-align: center;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 20px;
}
li {
    color: black;
    padding: 10px;
     font-family: "Arial", Helvetica, sans-serif;
}

footer {
    color: #444444;
    font-family: "Arial", Helvetica, sans-serif;
}
 
.descricao de cores {
    color: black;
    padding: 10px;
    text-align: justify;
    font-family: "Arial", Helvetica, sans-serif;
    
}

p {
    color: black;
    padding: 10px;
    text-align: justify;
    font-family: "Arial", Helvetica, sans-serif;
}
#exemplo4valores {
    border-width: 5px;
    border-color: red yellow green pink;
    padding: 10px;
    text-align: center;
    font-family: "Arial", Helvetica, sans-serif;
    border-style: solid;
    
}

#exemplo3valores {
    border-width: 5px;
    border-color: red yellow green;
    padding: 10px;
    text-align: center;
    font-family: "Arial", Helvetica, sans-serif;
    border-style: solid;
    
}
#exemplo2valores {
    border-width: 5px;
    border-color: red yellow ;
    padding: 10px;
    text-align: center;
    font-family: "Arial", Helvetica, sans-serif;
    border-style: solid;
    
}

#exemplo1valor {
    border-width: 5px;
    border-color: red;
    padding: 10px;
    text-align: center;
    font-family: "Arial", Helvetica, sans-serif;
    border-style: solid;
    
}