h1 {
    color: #444444;
    padding: 10px;
    text-align: center;
     font-family: "Times New Roman", serif;
}
h2 {
   color: #444444;
    padding: 10px;
    text-align: center;
     font-family: "Times New Roman", serif;
}
h3 {
   color: #444444;
    padding: 10px;
    text-align: center;
     font-family: "Times New Roman", serif;
}
h4 {
   color: #444444;
    padding: 10px;
    text-align: center;
     font-family: "Times New Roman", serif;
    font-size: 20px;
}
li {
    color: black;
    padding: 10px;
     font-family: "Times New Roman", serif;
}

footer {
    color: #444444;
     font-family: "Times New Roman", serif;
}
 
.descricao de cores {
    color: black;
    padding: 10px;
    text-align: justify;
    font-family: "Times New Roman", serif;
    
}

p {
    color: black;
    padding: 10px;
    text-align: justify;
    font-family: "Times New Roman", serif;
}
#exemplo4valores {
    border-width: 5px;
    border-color: red blue green pink;
    padding: 10px;
    text-align: center;
    font-family: "Times New Roman", serif;
    border-style: solid;
    
}

#exemplo3valores {
    border-width: 5px;
    border-color: red blue green;
    padding: 10px;
    text-align: center;
    font-family: "Times New Roman", serif;
    border-style: solid;
    
}
#exemplo2valores {
    border-width: 5px;
    border-color: red blue ;
    padding: 10px;
    text-align: center;
    font-family: "Times New Roman", serif;
    border-style: solid;
    
}

#exemplo1valor {
    border-width: 5px;
    border-color: red;
    padding: 10px;
    text-align: center;
    font-family: "Times New Roman", serif;
    border-style: solid;
    
}