h1 {
    color: aquamarine;
    background-color: aqua;
}
h2 {
    color:blue;
    background-color: aquamarine;
}
h3 {
    color:blue;
    background-color: aquamarine;
}
li {
    color:blue;
    background-color: aquamarine;
}
body {
    background-color: aquamarine;
}

footer {
    color:blue;
    background-color: aquamarine;
}